* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.result {
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 100;
    background-color: white;
    color: black;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}

.game {
    position: relative;
    width: 80%;
    text-align: center;
    color: white;
    font-family: system-ui;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:971px) {
    .game {
        width: 90%;
    }
}

.title {
    height: 17%;
    width: 100%;
    /* background-color: blueviolet; */
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:971px) {
    .title {
        font-size: 50px;
    }
}

span {
    color: yellow;
}

.controls {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width:971px) {
    .controls {
        gap: 10px;
        height: 70%;
        width: 100%;
    }
}

.square {
    background-color: blueviolet;
    min-height: 150px;
    font-size: 0PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover {
    background-color: #000;
    cursor: pointer;
}

@media (max-width:971px) {
    .square:hover {
        background-color: blueviolet;
    }

}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.endRound {
    font-size: 100px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}