* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    width: 80%;
    text-align: center;
    color: white;
    font-family: system-ui;
    height: 100%;
    padding: 20px 0;
}

.title {
    height: 15%;
    background-color: blueviolet;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: yellow;
}

.controls {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.square {
    background-color: blueviolet;
    flex-basis: 30%;
    /* height: 130px; */
    font-size: 0PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover {
    background-color: #000;
    cursor: pointer;
}

@media (max-width:971px) {
    .square:hover {
        background-color: blueviolet;
    }
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}